<div class='contact' id='{{chat_id}}' >
    <img class='avatar-image' src='{{chat_avatar_path}}' style='margin-right: 7px' >
    <div class='text'>
        <h6>{{chat_title}}</h6>
        {{#if contact_text}}
            <p class='text-muted'>{{contact_text}}</p>
        {{/if}}
        <p class='text-muted' style='visibility: hidden'>placeholderplaceholder111111</p>
    </div>
    <div align='center'>
        {{#if unread_messages_amount}}
            <span class='badge bg-secondary'>{{unread_messages_amount}}</span>
        {{/if}}
    </div>
</div>
<hr>